h1,h2,p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
aside{
    background-color: orange;
    display: flex 1;
    height: 20%;
}
main {
    background-color: gray;
    height: 80%;
}
header {
    background-color: azure;
    margin: 20px;
    display:flex 1;
}
footer {
    margin: 5%;
    background-color: gray;
}
body{
    background-color: beige;
}
