h1,h2,p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
aside{
    background-color: orange;
    height: 80vh;
    width: 25%;
}
main {
    background-color: gray;
    height: 80%;
    flex: 1;
    width:25% ;
}
header {
    background-color: azure;
    margin: 20px;
    display:flex 1;
}
footer {
    margin: 2%;
    background-color: gray;
}
body{
    background-color: beige;
    margin: 0;
}
section{
    display: flex;
}