.nav ul li {
   background-color: rgb(191, 167, 251);   
   display: inline;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,p { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
   
}
body {

}

